extends layout

block content
  .container-fluid
    .navbar.navbar-inverse
      .navbar-inner
        a.brand(data-toggle="modal", 
          data-target="#credits",
          role="button") Settlers of Caten
        form.navbar-search.pull-right
          input.search-query(type="text",placeholder="Chat")
    .row-fluid(style="position:relative;")
      .span8.offset2
        svg#board(style="height:100%;",
          type="image/svg+xml", 
          viewBox="-555 -481 1110 962", 
          preserveAspectRatio="xMidYMid meet")
          g#ocean
            polygon(points="275,476.3 550,0 275,-476.3 -275,-476.3 -550,0 -275,476.3")
          g#ports
          g#hexes
          g#roads
          g#settlements
      #northwest.pull(style="left:0; top:0;")
        include profile
      #northeast.pull(style="right:0; top:0;")
        include profile
      #southeast.pull(style="right:0; bottom:0;")
        include profile
      #southwest.pull(style="left:0; bottom:0;")
        include profile
  .container-fluid
    .navbar.navbar-inverse
      .navbar-inner
        ul.unstyled.nav.pull-left(data-toggle="buttons-radio")
          li: a(href="#roll", onclick="rolldice()",
            id="rolldice") Roll
          li: a(href="#play", onclick="play()", 
            id="devcards", data-placement="top") Play
          li: a(href="#trade", id="trading") Trade
          li: a(href="#build", id="buying") Build
          li: a(href="#pass", onclick="passdice()") Pass
        ul.unstyled.nav.pull-right
          li: a
            span.badge.brick 0 
              i.icon-white.icon-heart
          li: a
            span.badge.lumber 0 
              i.icon-white.icon-leaf
          li: a
            span.badge.wool 0 
              i.icon-white.icon-tint
          li: a
            span.badge.grain 0 
              i.icon-white.icon-fire
          li: a
            span.badge.ore 0 
              i.icon-white.icon-globe
  #credits.modal.hide.fade
    include credits
    $('#devcards').tooltip('toggle');