extends layout

append head
  link(href='/game.css', rel='stylesheet')
  link(href='/swipe/style.css', rel='stylesheet')
  style.
    .swipe {
      overflow: hidden;
      visibility: hidden;
      position: relative;
    }
    .swipe-wrap {
      overflow: hidden;
      position: relative;
    }
    .swipe-wrap > div {
      float:left;
      width:100%;
      position: relative;
    }
block menu
  nav.navbar.navbar-inverse(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.test')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(data-toggle='modal', data-target='#credits', role='button') #{title}
    .test.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        each item in menu
          li: a(href='#{item.link}') #{item.name}
  #hand.btn-toolbar.col-sm-4.col-sm-offset-4
    .btn-group.btn-group-justified
      a.btn.badge.brick 0 
          span.glyphicon.glyphicon-heart(alt='Brick')
      a.btn.badge.lumber 0 
          span.glyphicon.glyphicon-leaf(alt='Lumber')
      a.btn.badge.wool 0 
          span.glyphicon.glyphicon-tint(alt='Wool')
      a.btn.badge.grain 0 
          span.glyphicon.glyphicon-fire(alt='Grain')
      a.btn.badge.ore 0 
          span.glyphicon.glyphicon-globe(alt='Ore')
block content
  .row
    .col-md-8
      svg#board(style="height:100%;",
        type="image/svg+xml",
        viewBox="-555 -481 1110 962",
        preserveAspectRatio="xMidYMid meet")
        g#ocean
          polygon(points="275,476.3 550,0 275,-476.3 -275,-476.3 -550,0 -275,476.3")
        g#ports
        g#hexes
        g#roads
        g#settlements
  .row
    .btn-toolbar
      .btn-group.btn-group-justified
        a.btn.badge(type='button') Seat1
        a.btn.badge(type='button') Seat2
        a.btn.badge(type='button') Seat3
        a.btn.badge(type='button') Seat4
    #slider.carousel.slide
      .carousel-inner
        #northwest.profile(data-index='0').item.active
          include profile
        #northeast.profile(data-index='1').item
          include profile
        #southeast.profile(data-index='2').item
          include profile
        #southwest.profile(data-index='3').item
          include profile
      a.carousel-control.left(href='slider', data-slide='prev') &lsaquo;
      a.carousel-control.right(href='slider', data-slide='next') &rsaquo;
  .row
    .btn-toolbar
      .btn-group.btn-group-lg.btn-group-justified.dropup
        a.btn.btn-default(type='button', href='#play', id='devcards') Play
        a.btn.btn-default(type='button', href='#trade', id='trading') Trade
          //-ul.dropdown-menu(role='menu')
            li: a(href='#') Offer
            li: a(href='#') Accept
            li: a(href='#') Reject
        a.btn.btn-default(type='button', href='#build', id='buying') Build
        a.btn.btn-default(type='button', href='#pass', id='endturn') Pass
block license
append scripts
  script(src='/d3/d3.js')
  script(src='swipe/swipe.js')
  //-script(src='/socket.io/socket.io.js')
  //-script(src='/gamelogic.js')
  script.
    $(document).ready(function(){ $('#slider').carousel({ interval:2000, pause:'hover' }); });
