extends layout

block content
  .container-fluid
    .navbar.navbar-inverse
      .navbar-inner
        a#game.brand(data-toggle="modal", 
          data-target="#credits",
          role="button") Settlers of Caten
        ul#hand.unstyled.nav.pull-right
          li: a
            span.badge.brick 0 
              i.icon-white.icon-heart(alt='Brick')
          li: a
            span.badge.lumber 0 
              i.icon-white.icon-leaf(alt='Lumber')
          li: a
            span.badge.wool 0 
              i.icon-white.icon-tint(alt='Wool')
          li: a
            span.badge.grain 0 
              i.icon-white.icon-fire(alt='Grain')
          li: a
            span.badge.ore 0 
              i.icon-white.icon-globe(alt='Ore')
    .row-fluid(style="position:relative;")
      .span8.offset2
        svg#board(style="height:100%;",
          type="image/svg+xml", 
          viewBox="-555 -481 1110 962", 
          preserveAspectRatio="xMidYMid meet")
          g#ocean
            polygon(points="275,476.3 550,0 275,-476.3 -275,-476.3 -550,0 -275,476.3")
          g#ports
          g#hexes
          g#roads
          g#settlements
    .row-fluid#slider.swipe
      .swipe-wrap
        #northwest.profile
          include profile
        #northeast.profile
          include profile
        #southeast.profile
          include profile
        #southwest.profile
          include profile
  .container-fluid
    .navbar.navbar-inverse
      .navbar-inner
        ul#controls.unstyled.nav.pull-left(data-toggle="buttons-radio")
          li: a(href="#roll", onclick="rolldice()",
            id="rolldice") Roll
          li: a(href="#play", onclick="play()", 
            id="devcards", data-placement="top") Play
          li: a(href="#trade", id="trading") Trade
          li: a(href="#build", id="buying") Build
          li: a(href="#pass", onclick="passdice()") Pass
        form#chat.navbar-search.pull-right.hidden-phone
          input.search-query(type="text",placeholder="Chat")
  include credits
  //-script $('#devcards').tooltip('toggle');
  link(rel='stylesheet', href='/stylesheets/default.css')
  script(src='/d3/d3.min.js')
  //-script(src='/socket.io/socket.io.js')
  //-script(src='/clientside.js')
  //-script $('#username').append('<i alt="dealer" class="icon icon-hand-right"></i>')
  script window.mySwipe = new Swipe(document.getElementById('slider'), { startSlide:1, speed:400, auto:3000});
