doctype 5
html(lang='en')
  head
    block head
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
      title= title
      link(href='/bootstrap/css/bootstrap.css', rel='stylesheet', media='screen')
      script(src='jquery/jquery.js')
      //-script(src='//code.jquery.com/jquery.js')
  body
    .container
      block menu
        .header
          ul.nav.nav-pills.pull-right
            each item in menu
              li: a(href='#{item.link}') #{item.name}
          h3: a.brand.text-muted(href='#', data-toggle='modal', data-target='#credits',
            style='text-decoration:none;', role='button') #{title}
        hr
      block content
      block license
        .footer
          p.text-muted
            a.pull-right(href='http://www.github.com/betovar/caten#license',
            style='text-decoration:none;') © Brian Tovar 2013
    block scripts
      script(src='bootstrap/js/bootstrap.js')
      script.
        $('#credits').modal({ keyboard: false });
    include credits
