a(rel='popover', 
data-target='#login', 
data-toggle='popover', 
data-placement='bottom', 
data-trigger='click', 
data-title='Select a Username', 
data-html='true', 
data-content='<ul class="unstyled"><li><a class="btn btn-block" href="/auth/twitter"><img src="/auth/sign-in-with-twitter-link.png"></img></a></li></ul>') Log In